@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-14;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .text_pink {
    @apply text-[#F85E9F]
  }

  .text_black {
    @apply text-[#191825]
  }

  .btn_purple {
    @apply bg-[#5D50C6] px-8 py-3 text-white transition-all hover:bg-opacity-50
  }

  .btn_outline_black {
    @apply border-black border-opacity-20 px-4 py-3
  }

  .btn_white {
    @apply border-none px-4 py-3
  }

  .bold-16 {
    @apply text-[16px] font-[600];
  }

  .bg-hero {
    background-image: url('/earth.png');
    background-repeat: no-repeat;
    background-position: top;
    position: absolute;
    /*@apply absolute right-0 top-0 h-screen w-screen bg-cover bg-center md:right-[-15%] xl:top-[-10%];*/
  }
}

.shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shadow-2 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Hero */
.circle-pink {
  width: 700px;
  height: 700px;
  border-radius: 30%;
  position: absolute;
  transform: rotate(50deg);
  background: rgb(255,211,198);
  background: linear-gradient(90deg, rgba(255,211,198,1) 0%, rgba(255,87,34,0.19380252100840334) 22%, rgba(255,255,255,0) 100%);

}

.circle-yellow {
  width: 600px;
  height: 600px;
  border-radius: 40%;
  position: absolute;
  transform: rotate(-120deg);
  background: rgb(255,242,201);
  background: linear-gradient(50deg, rgba(255,242,201,1) 0%, rgba(255,255,255,0) 100%);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}